/* .react-calendar-timeline .rct-dateHeader-primary{
    color: black !important;
 } */

 .rct-header-root {
    background-color: rgb(5, 87, 120) !important;
    position: sticky !important;
    top: 20px !important;
  }